wsdl/sbr/prefill.02.01.service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://sbr.gov.au/comn/prefill.02.service" name="PreFillService" targetNamespace="http://sbr.gov.au/comn/prefill.02.service">
	<wsdl:types>
		<xs:schema version="02.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sbdm="http://sbr.gov.au/comn/sbdm.02.data" elementFormDefault="qualified" targetNamespace="http://sbr.gov.au/comn/prefill.02.service">
			<xs:import namespace="http://sbr.gov.au/comn/sbdm.02.data" schemaLocation="sbdm.02.01.data.xsd"/>
			<xs:element name="RequestPreFillReport">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="sbdm:StandardBusinessDocumentMessage"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResponsePreFillReport">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="sbdm:StandardBusinessDocumentMessage"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="RequestPreFillReportMessage">
		<wsdl:part name="request" element="tns:RequestPreFillReport"/>
	</wsdl:message>
	<wsdl:message name="ResponsePreFillReportMessage">
		<wsdl:part name="response" element="tns:ResponsePreFillReport"/>
	</wsdl:message>
	<wsdl:portType name="IPreFill02">
		<wsdl:operation name="PreFillReport">
			<wsdl:input name="RequestPreFillReport" message="tns:RequestPreFillReportMessage"/>
			<wsdl:output name="ResponsePreFillReport" message="tns:ResponsePreFillReportMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PreFill.02.SoapBinding" type="tns:IPreFill02">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#sbr.mtom.policy"/> -->
		<wsdl:operation name="PreFillReport">
			<soap:operation soapAction="http://sbr.gov.au/services/prefill.02.service/PreFillReport" soapActionRequired="true"/>
			<wsdl:input name="RequestPreFillReport">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="ResponsePreFillReport">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PreFill.02.Service">
		<wsdl:port name="PreFill.02.Port" binding="tns:PreFill.02.SoapBinding">
			<soap:address location="https://sbr.gov.au/services/prefill.02.service"/>
		</wsdl:port>
	</wsdl:service>
	<!-- <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsu:Id="sbr.mtom.policy" >
		<wsoma:OptimizedMimeSerialization/>
	</wsp:Policy> -->
</wsdl:definitions>
